@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Prociono&display=swap');

*{
  font-family: "Merriweather", serif;
}

body{
  padding:0px;
  margin:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center; 
  height:100vh;
  position: relative;
}
body::before{
  position: absolute;
  content: "";
  top:0;
  bottom:0;
  left:0;
  right: 0;
  background-image: url('./assets/money.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
  opacity: 0.6;
}
.main-div{
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding:15px;
  gap:10px;
}
.currency-img{
  width:100%;
  height:30vh;
  object-fit:cover; 
}
.main-text{
  text-align: center;
  color:#2196F3;
  padding:10px;
  border-top:2px dashed #666;
  border-bottom: 2px dashed #666;
}
.amountdiv{
  color:#555;
  font-size: 17px;
}
#amountdiv-input{
  outline:none;
  border:1px solid #555;
  padding:4px;
  font-size: 18px;
  height:23px;
}
.fromdiv,
.todiv{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.fromdiv label,
.todiv label{
  color:#555;
  font-size: 17px;
}
.fromdiv select,
.todiv select{
  outline:none;
  font-size: 18px;
  height: 32px;
}
.result{
  font-size: 20px;
  color:green;
  text-align: center;
  padding:10px;
  border: 2px dashed #2196F3;
  margin-top:10px;
}
@media screen and (max-width:600px){
  .main-div{
    width:95%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:15px;
    gap:10px;
  }
}